<template>
    <div>
       <div class="card animated fadeIn fast" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <!-- <strong style="font-weight:bold; border:none; margin-left:10px;">Usuarios</strong>
                <br /><small>
                 <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Catálogo usuarios
                 </a>
                </small>    -->
            </header>
        </div>
        <div class="card-body">
        
          <div class="col-md-12">
            <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
            <button  class="btn btn-success"  @click="abrirModal()"><i class="fa fa-plus"></i> Agregar</button>
            <!-- <router-link class="btn btn-success pull-right" to="/usuarios/add"> -->
            <!-- <i class="fa fa-plus"></i> Nuevo -->
            <!-- </router-link> -->
          </div>
          </div>
    
          <div class="col-md-12" >
             <tablecomponent  
             :headers="headers"  
             :tabledata="tabledata" 
             :actions="actions"
             :search-label="'Buscar Usuarios'"
             :filter-options="'nombre'">
             </tablecomponent>	
        </div>
    </div>
 </div>
              <modal
                name="modal-Eliminar"
                :width="1000"
                height="auto"
                :scrollable="true"
                :clickToClose="false"
                style="z-index: 1500;"
              >
                <div>
                </div>
                <form
                    @submit.prevent="insertar('principal1')"
                      data-vv-scope="principal1"
                        >
                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                            <div class="col-md-12">
                            <!-- <font size=3><strong>Nombre Completo</strong></font>
                            <div class="row"></div>
                            <input
                              name="nombrevendedor"
                              v-model="datosVendedor.nombreVendedor"
                              v-validate="'required'"
                              class="text-capitalize form-control"
                              type="text"
                            />
                            <div class="row"></div>
                            <i v-show="errors.has('principal.nombrevendedor')" class="fa fa-warning"></i>
                            <span
                              v-show="errors.has('principal.nombrevendedor')"
                              class="help is-danger text-danger"
                            >El campo nombre es obligatorio</span> -->

                            <div class="center content-inputs" style="margin-top: 30px;">
                              <vs-input  success v-model="datosVendedor.nombreVendedor"  label-placeholder="Nombre completo">
                                <template #icon>
                                  <i class='fa fa-user'></i>
                                </template>
                              </vs-input>
                            </div>
                            </div>
    
    
                            <div class="col-md-12">
                              <br>
                              <vs-input success v-model="usuario.correo"  label-placeholder="Correo">
                              <template v-if="validEmail" #message-success>
                                Email Valid
                              </template>
                              <template v-if="!validEmail && usuario.correo !== ''" #message-danger>
                                Email Invalid
                              </template>
                            </vs-input>

                            </div>
    
                            <div class="col-md-12 form-group" style="margin-top: 30px;">
                               
                                <vs-input
                                  success
                                  label-placeholder="Numero celular"
                                  type="number"
                                 
                                  v-model="usuario.telefono"
                                  label="Numero celular"
                                  maxlength="10"
                                />

                                <!-- <the-mask
                                  class="form-control"
                                  :mask="['(###) ###-####', '(##) ####-####']"
                                  v-model="usuario.telefono"
                                  name='Celular'
                                  v-validate="'required'"
    
                                /> -->
    
                              </div>
    
                            </div>
                            <div class="col-md-5 ">
                              <div class="center content-inputs" style="margin-top: 30px;">
                                <vs-input
                                  success
                                  type="password"
                                  v-model="usuario.contrasenia"
                                  label-placeholder="Contraseña"
                                  :progress="getProgress"
                                  :visiblePassword="hasVisiblePassword"
                                 
                                  @click-icon="hasVisiblePassword = !hasVisiblePassword">
                                  <template #icon>
                                    <i v-if="!hasVisiblePassword" class='fa fa-eye'></i>
                                    <i v-else class='fa-eye-slash'></i>
                                  </template>

                                  <template v-if="getProgress >= 100" #message-success>
                                    Secure password
                                  </template>

                                </vs-input>
                             </div>

                              <!-- <input :type="passwordFieldType"
                                name="pass"
                                class="form-control"
                                v-model="usuario.contrasenia"
                                v-validate="'required'"
                              />
                              <button type="button"  style="font-size: 10px" @click="switchVisibility"><span :class='{"fa fa-eye": true , " fa-eye": ocultaContrasenia, "fa-eye-slash": muestraContrasenia }'></span> </button>
                            
     -->
               
    
                            
                                <!-- <button type="password" @click="switchVisibility">show / hide</button> -->
    
                            <div class="col-md-12">
                              <br>
                              <font size=3><strong>Tipo de Usuario</strong></font>
                              <div class="center con-selects"></div>
                            <vs-select
                                  color="success"
                                  placeholder="Select"
                                  v-model="usuario.tipoUsuario"
                                >  
                                  <!-- <vs-option label="selecciona" value="0">
                                    Selecciona
                                  </vs-option> -->
                                  <vs-option  
                                  v-for="option in ListatipoUsuarios"  
                                  :key="option.Id" 
                                  :value="option.Id" 
                                  :label="option.Nombre"
                                  >
                                  {{option.Nombre}}
                                  </vs-option>
                                  </vs-select> 

                              <!-- <select
                                class="form-control text-capitalize"
                                
                                v-model="usuario.tipoUsuario"
                                v-validate="'required'"
                                name="tipoUsuario"
                                :class="(errors.has('tipoUsuario')) ? 'is-invalid':'is-valid'"
                              >
                                <option value>Selecciona</option>
                                <option
                                  v-for="option in ListatipoUsuarios"
                                  :key="option.Id"
                                  v-bind:value="option.Id"
                                >{{option.Nombre}}</option>
                              </select> -->
                              <!-- <i v-show="errors.has('principal.tipoUsuario')" class="fa fa-warning"></i>
                              <span
                                v-show="errors.has('principal.tipoUsuario')"
                                class="help is-danger text-danger"
                              >El campo tipo Usuario es obligatorio</span>-->
                            </div> 
                            <div class="col-md-6">
                              <br>

                                <vs-checkbox color="success"   v-model="usuario.activo">
                                <template #icon>
                                    <i class='fa fa-check' ></i>
                                  </template>
                              </vs-checkbox>
                            </div>
                          </div>
                        </div>
                            <div class="col-md-2 col-md-offset-10 " style="padding:10px;">

                     
                              <!-- <button
                                type="submit"
                                class="btn btn-success pull-right"
                                style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                              >
                                Guardar <span class="fa fa-check"></span>
                              </button> -->
                              <vs-button
                               type="submit"
                                success
                                size="large"
                                flat
                                :active="active == 1"
                                @click="active = 1"
                              >
                                <i class="fa fa-check"></i> Guardar
                              </vs-button>
                              <vs-button
                                danger
                                size="large"
                                flat
                                :active="active == 1"
                                style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                                @click="$modal.hide('modal-Eliminar')"
                              >
                                <i class="fa fa-sign-out"></i> Salir
                              </vs-button>


                            </div>
                            <!-- <div class="col-md-3 " style="padding:10px;">
                              <button
                                @click="$modal.hide('modal-UpdateCliente')"
                                type="button"
                                class="btn btn-default pull-right"
                                style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                              >
                                Salir <span class="fa fa-sign-out-alt"></span>
                              </button>
                            </div> -->
                        </form>
    
    
             </modal>
                      <modal
                name="modal-UpdateCliente"
                :width="1000"
                height="auto"
                :scrollable="true"
                :clickToClose="false"
                style="z-index: 1500;"
              >
                <div></div>
                <form
                    @submit.prevent="update('principal1')"
                      data-vv-scope="principal1"
                        >
                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                            <div class="col-md-12">
                            <!-- <font size=3><strong>Nombre Completo</strong></font>
                            <div class="row"></div>
                            <input
                              name="nombrevendedor"
                              v-model="datosVendedor.nombreVendedor"
                              v-validate="'required'"
                              class="text-capitalize form-control"
                              type="text"
                            />
                            <div class="row"></div>
                            <i v-show="errors.has('principal.nombrevendedor')" class="fa fa-warning"></i>
                            <span
                              v-show="errors.has('principal.nombrevendedor')"
                              class="help is-danger text-danger"
                            >El campo nombre es obligatorio</span> -->

                            <div class="center content-inputs" style="margin-top: 30px;">
                              <vs-input  success v-model="datosVendedor.nombreVendedor"  label-placeholder="Nombre completo">
                                <template #icon>
                                  <i class='fa fa-user'></i>
                                </template>
                              </vs-input>
                            </div>
                            </div>
    
    
                            <div class="col-md-12">
                              <br>
                              <vs-input success v-model="usuario.correo"  label-placeholder="Correo">
                              <template v-if="validEmail" #message-success>
                                Email Valid
                              </template>
                              <template v-if="!validEmail && usuario.correo !== ''" #message-danger>
                                Email Invalid
                              </template>
                            </vs-input>

                            </div>
    
                            <div class="col-md-12 form-group" style="margin-top: 30px;">
                               
                                <vs-input
                                  success
                                  label-placeholder="Numero celular"
                                  type="number"
                                 
                                  v-model="usuario.telefono"
                                  label="Numero celular"
                                  maxlength="10"
                                />

                                <!-- <the-mask
                                  class="form-control"
                                  :mask="['(###) ###-####', '(##) ####-####']"
                                  v-model="usuario.telefono"
                                  name='Celular'
                                  v-validate="'required'"
    
                                /> -->
    
                              </div>
    
                            </div>
                            <div class="col-md-5 ">
                              <div class="center content-inputs" style="margin-top: 30px;">
                                <vs-input
                                  success
                                  type="password"
                                  v-model="usuario.contrasenia"
                                  label-placeholder="Contraseña"
                                  :progress="getProgress"
                                  :visiblePassword="hasVisiblePassword"
                                 
                                  @click-icon="hasVisiblePassword = !hasVisiblePassword">
                                  <template #icon>
                                    <i v-if="!hasVisiblePassword" class='fa fa-eye'></i>
                                    <i v-else class='fa-eye-slash'></i>
                                  </template>

                                  <template v-if="getProgress >= 100" #message-success>
                                    Secure password
                                  </template>

                                </vs-input>
                             </div>

                              <!-- <input :type="passwordFieldType"
                                name="pass"
                                class="form-control"
                                v-model="usuario.contrasenia"
                                v-validate="'required'"
                              />
                              <button type="button"  style="font-size: 10px" @click="switchVisibility"><span :class='{"fa fa-eye": true , " fa-eye": ocultaContrasenia, "fa-eye-slash": muestraContrasenia }'></span> </button>
                            
     -->
               
    
                            
                                <!-- <button type="password" @click="switchVisibility">show / hide</button> -->
    
                            <div class="col-md-12">
                              <br>
                              <font size=3><strong>Tipo de Usuario</strong></font>
                              <div class="center con-selects"></div>
                            <vs-select
                                  color="success"
                                  placeholder="Select"
                                  v-model="usuario.tipoUsuario"
                                >  
                                  <!-- <vs-option label="selecciona" value="0">
                                    Selecciona
                                  </vs-option> -->
                                  <vs-option  
                                  v-for="option in ListatipoUsuarios"  
                                  :key="option.Id" 
                                  :value="option.Id" 
                                  :label="option.Nombre"
                                  >
                                  {{option.Nombre}}
                                  </vs-option>
                                  </vs-select> 

                              <!-- <select
                                class="form-control text-capitalize"
                                
                                v-model="usuario.tipoUsuario"
                                v-validate="'required'"
                                name="tipoUsuario"
                                :class="(errors.has('tipoUsuario')) ? 'is-invalid':'is-valid'"
                              >
                                <option value>Selecciona</option>
                                <option
                                  v-for="option in ListatipoUsuarios"
                                  :key="option.Id"
                                  v-bind:value="option.Id"
                                >{{option.Nombre}}</option>
                              </select> -->
                              <!-- <i v-show="errors.has('principal.tipoUsuario')" class="fa fa-warning"></i>
                              <span
                                v-show="errors.has('principal.tipoUsuario')"
                                class="help is-danger text-danger"
                              >El campo tipo Usuario es obligatorio</span>-->
                            </div> 
                            <div class="col-md-6">
                              <br>

                                <vs-checkbox color="success"   v-model="usuario.activo">
                                <template #icon>
                                    <i class='fa fa-check' ></i>
                                  </template>
                              </vs-checkbox>
                            </div>
                          </div>
                        </div>
                            <div class="col-md-2 col-md-offset-10 " style="padding:10px;">

                     
                              <!-- <button
                                type="submit"
                                class="btn btn-success pull-right"
                                style="margin-top:10px; margin-bottom: 20px; margin-right: 60px;"
                              >
                                Guardar <span class="fa fa-check"></span>
                              </button> -->
                              <vs-button
                               type="submit"
                                success
                                size="large"
                                flat
                                :active="active == 1"
                                @click="active = 1"
                              >
                                <i class="fa fa-check"></i> Guardar
                              </vs-button>
                              <vs-button
                                danger
                                size="large"
                                flat
                                :active="active == 1"
                                style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                                @click="$modal.hide('modal-UpdateCliente')"
                              >
                                <i class="fa fa-sign-out"></i> Salir
                              </vs-button>


                            </div>
                            <!-- <div class="col-md-3 " style="padding:10px;">
                              <button
                                @click="$modal.hide('modal-UpdateCliente')"
                                type="button"
                                class="btn btn-default pull-right"
                                style="margin-top:10px; margin-bottom: 20px; margin-right: 6px;"
                              >
                                Salir <span class="fa fa-sign-out-alt"></span>
                              </button>
                            </div> -->
                        </form>
                      </modal>
                    </div>
                    </template>
                    <script>

    import axios from 'axios'
    import tablecomponent from '../../components/table.vue'
    import { EventBus } from '../../event-bus'
    export default {
      name: 'app_usuarios',
      data() {
        return {
          hasVisiblePassword: false,
          active: 0,
            usuario: {
            clv_usuario: 0,
            correo: '',
            nombre: '',
            contrasenia: '',
            activo: true,
            tipoUsuario: '',
            clv_tipoVendedor: 0,
            telefono: ''
        },
          datosVendedor: {
            celular: '',
            tipoVendedor: 0,
            curp: '',
            rfc: '',
            nombreVendedor: ''
          },
          vendedor: false,
          ListatipoUsuarios: [],
          ListatipoVendedores: [],
          titulo: '',
          proyectos: [],
          proyectos_asignados: [],
          passwordFieldType: 'password',
          muestraContrasenia: false,
          ocultaContrasenia: false,
          headers: [
            '#',
            'Nombre',
            'Correo',
            'Estatus',
            'Celular'
    
          ],
          actions: {
            editar: true,
            eliminar: true,
            filter: true
        },
          tabledata: [],
          token: window.localStorage.getItem("token"),
          header: {
            headers: {
             Authorization: 'Basic ' + this.token
            }
          }
        }
      },
      mounted() {
        this.getUsuarios()
        this.getTiposUsuario()
        EventBus.$on('editar', data => {
          let vm = this
          axios.post("/SessionWeb/GetUsuariosC", { clv_usuario: data.id }, this.header)
          .then(res => {
            console.log(res)
            vm.usuario = res.data.GetUsuariosCResult
            // vm.vendedor = (res.data.GetUsuariosCResult.clv_tipoVendedor === 0) ? false : true
            vm.datosVendedor = res.data.GetUsuariosCResult.detalleVendedor
            vm.datosVendedor.nombreVendedor = res.data.GetUsuariosCResult.tipoVendedor

            this.$modal.show('modal-UpdateCliente')
          })

          //  this.$router.push({ path: `/usuarios/update/${data.id}` })
        })
        EventBus.$on('eliminar', data => {
          console.log('mando', data)
          let body = {
                  obj: {
                      clv_usuario: data.id
                    }
                }
        axios.post('/SessionWeb/DeleteUsuario', body, this.header).then(res => {
             res.data.DeleteUsuarioResult
             this.$snotify.success(res.data.DeleteUsuarioResult, '¡Importante!', {
                        timeout: 2500,
                        showProgressBar: false,
                        closeOnClick: false,
                        pauseOnHover: true
                        })
                                     location.reload()
                        // this.$router.push("/tipoUsuario");
          })
        })
      },
      methods: {
        openLoadingButton() {
          console.log(this.$refs.button.$el)
          const loading = this.$vs.loading({
            target: this.$refs.button,
            scale: '0.6',
            background: 'primary',
            opacity: 1,
            color: '#fff'
          })
          setTimeout(() => {
            loading.close()
          }, 3000)
        },
    
        switchVisibility() {
          // this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
          if (this.passwordFieldType === 'password') {
            this.passwordFieldType = 'text'
            this.muestraContrasenia = true
            this.ocultaContrasenia = false
          } else {
              this.passwordFieldType = 'password'
              this.muestraContrasenia = false
              this.ocultaContrasenia = true
          }
        },

        abrirModal() {
        this.$modal.show('modal-Eliminar')
        this.usuario.clv_usuario = 0
        this.usuario.correo = ''
        this.usuario.nombre = ''
        this.usuario.contrasenia = ''
        this.usuario.activo = true
        this.usuario.tipoUsuario = ''
        this.usuario.clv_tipoVendedor = 0
        this.usuario.telefono = ''
        this.datosVendedor.celular = ''
        this.datosVendedor.tipoVendedor = 0
        this.datosVendedor.curp = ''
        this.datosVendedor.rfc = ''
        this.datosVendedor.nombreVendedor = ''
        },
        getTiposUsuario() {
          let vm = this
          axios.get("/SessionWeb/GetTiposUsuario", this.header).then(res => {
            console.log(res)
            vm.ListatipoUsuarios = res.data.GetTiposUsuarioResult.filter(
              i => i.Activo === true
            )
          })
        },
    
      insertar(scope) {
        this.$validator.validateAll(scope).then(result => {
          let params = {
                usuario: this.usuario,
                vendedor: this.datosVendedor
              }
    
          if (result) {
            axios.post("/SessionWeb/AddUsuario", params, this.header)
                  .then(res => {
                    console.log(res.data.AddusuarioResult)
                    if (res.data.AddusuarioResult === 0) {
                      this.$vs.notification({
                        progress: 'auto',
                        color: 'danger',
                        position: 'top-right',
                        title: '¡Atencion!',
                        text: `El Login que intenta registrar ya existe`
                      })
                      // this.$snotify.error('El Login que intenta registrar ya existe')
                      return
                    }
                    if (res.data.AddusuarioResult === -1) {
                      this.$vs.notification({
                        progress: 'auto',
                        color: 'error',
                        position: 'top-right',
                        title: '¡Atencion!',
                        text: `El Correo que intenta registrar ya existe`
                      })
                      // this.$snotify.error('El Correo que intenta registrar ya existe')
                      return
                    }
                    if (this.proyectos_asignados.length === 0) {
                          this.$vs.notification({
                            progress: 'auto',
                            color: 'success',
                            position: 'top-right',
                            title: '¡Atencion!',
                            text: `El Correo que intenta registrar ya existe`
                          })
                          // this.$snotify.success('Usuario agregado con éxito')
                          this.$modal.hide('modal-Eliminar')
                          location.reload()
                        }
                    })
                } else {
                        this.$vs.notification({
                        progress: 'auto',
                        color: 'danger',
                        position: 'top-right',
                        title: '¡Atencion!',
                        text: `Llene todos los campos`
                      })
                    }
                  })
                },

                update(scope) {
        this.$validator.validateAll(scope).then(result => {
          let params = {
                usuario: this.usuario,
                vendedor: this.datosVendedor
              }
    
          if (result) {
            axios
              .post("/SessionWeb/UpdateUsuarios", params, this.header)
              .then(res => {
                if (res.data.UpdateUsuariosResult === 0) {
                  this.$vs.notification({
                        progress: 'auto',
                        color: 'danger',
                        position: 'top-right',
                        title: '¡Atencion!',
                        text: `El Login que intenta registrar ya existe`
                      })
                  return
                }

                if (res.data.UpdateUsuariosResult === -1) {
                  this.$vs.notification({
                        progress: 'auto',
                        color: 'danger',
                        position: 'top-right',
                        title: '¡Atencion!',
                        text: `El Correo que intenta registrar ya existe`
                      })
                  return
                }
                this.$vs.notification({
                        progress: 'auto',
                        color: 'success',
                        position: 'top-right',
                        title: '¡Correcto!',
                        text: `Usuario Actualizado con éxito`
                      })
                this.$router.push("/usuarios")
                this.$modal.hide('modal-UpdateCliente')
              })
                } else {
                        this.$vs.notification({
                        progress: 'auto',
                        color: 'danger',
                        position: 'top-right',
                        title: '¡Atencion!',
                        text: `Llene todos los campos`
                      })
                    }
                  })
                },
          getUsuarios() {
               let vm = this
                axios.get('/SessionWeb/GetUsuarios', this.header)
                  .then(res => {
                      res.data.GetUsuariosResult.forEach((el) => {
                        let obj = {
                        id: el.clv_usuario,
                        nombre: el.nombreVendedor,
                        correo: el.correo,
                        activio: ((el.activo)) ? 'Activo' : 'Inactivo',
                        Celular: el.Celular
                        }
             vm.tabledata.push(obj)
                       })
                  })
          }
      },
      computed: {

        getProgress() {
          let progress = 0

          // at least one number

          if (/\d/.test(this.usuario.contrasenia)) {
            progress += 20
          }

          // at least one capital letter

          if (/(.*[A-Z].*)/.test(this.usuario.contrasenia)) {
            progress += 20
          }

          // at menons a lowercase

          if (/(.*[a-z].*)/.test(this.usuario.contrasenia)) {
            progress += 20
          }

          // more than 5 digits

          if (this.usuario.contrasenia.length >= 6) {
            progress += 20
          }

          // at least one special character

          if (/[^A-Za-z0-9]/.test(this.usuario.contrasenia)) {
            progress += 20
          }

          return progress
        },
        validEmail() {
          return /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.usuario.correo)
        }
      },
      components: {
        tablecomponent
      }
    }
    </script>

