<template>
  <ul class="sidebar-menu">
    

    <li style="color: white;" class="header">Menu</li>
    <li class="treeview"  v-for="m in menu" :key="m.Id" v-if="m.SubModulos.length > 0 ">
      <a href="#">
        <i style="color: white;" v-html="m.Icono"></i>
        <span style="color: white;" class="treeview-title">{{m.nombre}}</span>
        <span class="pull-right-container pull-right">
          <i class="fa fa-angle-left fa-fw"></i>
        </span>
      </a>


      
      <ul class="treeview-menu">
        <li style="color: white;"   v-for="sm in m.SubModulos" :key="sm.Id" v-bind:class="{'gui-folder': sm.SubModulos.length > 0 }">
       

          <router-link style="color: white;"  :to="`/${sm.componente}`" v-if="sm.SubModulos.length == 0" >
          <span style="color: white;" class="title">{{sm.nombre}}</span>
          
          </router-link>  

            <a v-if="sm.SubModulos.length > 0" >
              <span class="treeview" style="color: white;">{{sm.nombre}}</span>
            </a>  
            <ul>
            <li class="treeview" style="color: white;" v-for="a in sm.SubModulos" :key="a.Id" v-bind:class="{'gui-folder': true }">
            <router-link :to="`/${a.componente}`" >{{a.nombre}}</router-link>                  
            </li>           
            </ul>   
        </li>
      </ul>
    </li>

  </ul>
</template>
<script>
// import Vue from "vue"
import axios from 'axios'
export default {
  name: 'SidebarMenu',

  data() {
    return {
      menu: [],
      token: window.localStorage.getItem('Token'),
      tipoUsuario: 1,
      header: {
        headers: {
          Authorization: 'Basic ' + this.token
        }
      }
    }
  },
  created() {
    let vm = this
    var body = {
      tipoUsuario: this.tipoUsuario,
      op: 1
    }
    axios.post('/SessionWeb/obtenMenuUsuario', body, this.header)
      .then(res => {
        vm.menu = res.data.ObtenMenuUsuarioResult
        console.log(res)
      })
  }
}
</script>
<style>
/* override default */
.sidebar-menu > li > a {
  padding: 12px 15px 12px 15px;
}

.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
  animation-name: rotate;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.treeview-title {
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}
</style>
