<template>
  <li class="dropdown user user-menu">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
      <!-- The user image in the navbar-->
      <vs-avatar>
          <template #text>
          {{correo}}
        </template>
      </vs-avatar>
      <!-- hidden-xs hides the username on small devices so only the image appears. -->
      <span>{{correo}}</span>
    </a>
    <!-- Account Info and Menu -->
    <ul class="dropdown-menu">
      <li class="user-header" style="height:auto;min-height:85px;padding-bottom:15px;">
        <p>
          <span>{{correo}}</span>
          <small v-for="role in user.roles" :key="role">{{role}}</small>
        </p>
      </li>
      <li class="user-footer" @click="logout">
        <a href="javascript:;" class="btn btn-default btn-flat btn-block">
          <i class="fa fa-sign-out"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </li>
</template>

<script>
export default {
  name: 'UserMenu',
  props: ['user'],
  data () {
    return {
      correo: window.localStorage.getItem('correo'),
      hora: window.localStorage.getItem('Hora')
    }
  },

  methods: {
   logout() {
     window.localStorage.removeItem('token')
     location.reload()
   }
 }
}
</script>
