<template>
<div class="col-xs-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"></h3> 
      <div class="box-body">
        <div class="col-md-4 col-md-offset-4" style="padding-top: 10px;">	
                <form  @submit.prevent="insertar('principal')" data-vv-scope='principal'>			
                  <div class="row">
                    <font size=3><strong>Nombre</strong></font>

                    <vs-input
                    warn
                    v-model="Nombre"
                    placeholder="TIPO USUARIO"
                
                    />
                    <!-- <input type="text" class="text-capitalize form-control" v-model="Nombre"> -->
                </div>
                   <br>
                 <div class="row">   
                    <vs-checkbox color="success" v-model="Activo">
                     <template #icon>
                      <i class='fa fa-check' ></i>
                     </template>
                    </vs-checkbox>             
               <!-- <p-check class="p-svg p-curve" color="success" v-model="Activo">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                            <font size=2><strong> Activo</strong></font>
                           </p-check> -->
                </div>
                
               <div class="row" style="padding:15px; margin-top:15px;">
                    <button type="submit" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>

                 </form>
                </div>





          </div>
        </div> 
      </div>
    </div>
    
</template>

<script>
import axios from 'axios'
export default {
    name: 'addVendedores',
    data() {
        return {
            token: window.localStorage.getItem('token'),
      header: {
            headers: {
                'Authorization': 'Basic ' + this.token
                }
            },
           Nombre: '',
           Activo: true
        }
    },
    methods: {
        insertar(scope) {
          this.$validator.validateAll(scope).then((result) => {
        if (result) {
           let body = {
               obj: {
                Activo: this.Activo,
                Nombre: this.Nombre
               }
            }
            axios.post('/SessionWeb/AddTiposUsuario', body, this.header)
            .then((res) => {
                this.$vs.notification({
                        progress: 'auto',
                        color: 'success',
                        position: 'top-right',
                        title: '¡Atencion!',
                        text: `Tipo de Usuario agregado con éxito`
                      })

                // this.$snotify.success('Tipo de Usuario agregado con éxito', '¡Correcto!', {
                //     timeout: 1500,
                //     showProgressBar: false,
                //     closeOnClick: false,
                //     pauseOnHover: true
                //     })
              this.$router.push("/tipoUsuario")
            })
        }
      })
      },
      regresar() {
      this.$router.push("/tipoUsuario")
      }
    }
}
</script>
