<template>
<div class="box"><div class="box-header with-border">
<h3 class="box-title"></h3> 
<div class="box-body">

  <div class="col-md-6 col-md-offset-3">           
               <div class="col-md-12 form-group">
				         <span>Tipo de Usuario</span>
                <!-- <select class="form-control text-capitalize" v-model="tipoUsuario" @change="getModulosUsuario()" v-validate="'required'" name="tipoUsuario" :class="(errors.has('tipoUsuario')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in ListatipoUsuarios" :key="option.Id" v-bind:value="option.Id" >{{option.Nombre}}</option>
                </select>                 -->
                <vs-select
                                  color="success"
                                  placeholder="Select"
                                  v-model="tipoUsuario"
                                  @change="getModulosUsuario()"
                                 
                                >  
                                  <!-- <vs-option label="selecciona" value="0">
                                    Selecciona
                                  </vs-option> -->
                                  <vs-option  
                                  v-for="option in ListatipoUsuarios"  
                                  :key="option.Id" 
                                  :value="option.Id" 
                                  :label="option.Nombre"
                                  >
                        
                                  </vs-option>
                                  </vs-select> 
                </div>
         </div>
        <div class="col-md-6 col-md-offset-3" v-if="tipoUsuario > 0">
          <table class="table">
            <tr>
              <td>Modulo</td>
              <td>Accesar</td>
              <td>Agregar</td>
              <td>Editar</td>
              <td>Eliminar</td>
            </tr>
              <tr v-for="x in modulos " :key="x.Id">
                  <td v-if="x.ModuloPadre==0" ><h4 class="text-primary"><b>{{x.nombre}}</b></h4></td>
                   <td v-if="x.ModuloPadre != 0 && x.Tipo == 2" >{{x.nombre}}</td>
                   <td class="text-center" v-if="x.ModuloPadre != 0 && x.Tipo == 4" > <h6 class="text-primary-light"><b>{{x.nombre}}</b></h6></td>
                   <td v-if="x.ModuloPadre != 0 && x.Tipo == 3" >{{x.nombre}}</td>

                   <td class="text-center" v-if="x.ModuloPadre != 0 ">
                    <vs-checkbox  v-model="x.Access">
                      <template #icon>
                        <i class='fa fa-check' ></i>
                      </template>
                    </vs-checkbox>
                        </td>
                         <td class="text-center" v-if="x.ModuloPadre != 0 &&  x.Tipo != 4" >
                          <vs-checkbox  v-model="x.Add">
                            <template #icon>
                                <i class='fa fa-check' ></i>
                              </template>
                          </vs-checkbox>
                          
                        </td>
                         <td class="text-center" v-if="x.ModuloPadre != 0 && x.Tipo != 4 ">
                          <vs-checkbox  v-model="x.Edit">
                            <template #icon>
                                <i class='fa fa-check' ></i>
                              </template>
                          </vs-checkbox>

                         </td>
                         <td class="text-center" v-if="x.ModuloPadre != 0 &&  x.Tipo != 4">
                              <vs-checkbox  v-model="x.Delete">
                                <template #icon>
                                <i class='fa fa-check' ></i>
                              </template>
                              </vs-checkbox>

                         </td>
              </tr>
          </table>
           <!--  <ul class="list divider-full-bleed">
            <li class="tile" v-for="m in modulos" :key="m.Id">
               <table class="table">
                   <thead>
                       <tr>
                           <td colspan="4"><h4 class="text-center text-primary">   <b>{{m.nombre}}</b></h4></td>
                       </tr>
                       <tr>
                           <th width="40%" class="text-left">Modulo</th>
                            <th width="15%" class="text-center">Acceso</th>
                           <th width="15%" class="text-center">Agregar</th>
                           <th  width="15%" class="text-center">Editar</th>
                           <th width="15%"  class="text-center">Eliminar</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr v-for="sm in m.SubModulos" :key="sm.Id">
                         <td class="text-left">{{sm.nombre}}</td>
                         <td class="text-center">
                             <p-check class="p-svg p-curve" color="success" v-model="sm.Access">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                           </p-check>
                        </td>
                         <td class="text-center">
                             <p-check class="p-svg p-curve" color="success" v-model="sm.Add">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                           </p-check>
                        </td>
                         <td class="text-center">
                             <p-check class="p-svg p-curve" color="success" v-model="sm.Edit">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                           </p-check>
                         </td>
                         <td class="text-center">
                             <p-check class="p-svg p-curve" color="success" v-model="sm.Delete">
                                <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                style="stroke: white;fill:white"></path>
                             </svg>
                           </p-check>
                         </td>
                         
                       </tr>
                   </tbody>
               </table>                
                
            </li>
        
        </ul> -->
   
        </div>
       <div class="col-md-6 col-md-offset-3 text-center" v-if="tipoUsuario > 0">
           <button class="btn btn-block btn-success" @click="guardar()">Guardar Configuración</button>
       </div>
     


</div>
</div>
</div> 




</template>

<script>
import Vue from 'vue'
import axios from 'axios'
export default {
  name: 'addVendedores',
  created() {
    Vue.prototype.$vs = this.$vs
  },
  data() {
    return {
      token: window.localStorage.getItem('token'),
      header: {
        headers: {
          Authorization: 'Basic ' + this.token
        }
      },
      modulos: [],
      ListatipoUsuarios: [],
      modulosUsuario: [],
      tipoUsuario: ''
    }
  },
  mounted() {
    this.getModulos()
    this.getTiposUsuario()
  },
  methods: {
    getModulos() {
      let vm = this
      axios.get("/SessionWeb/ObtenModulos", this.header).then(res => {
        vm.modulos = res.data.ObtenModulosResult
        console.log(vm.modulos)
        vm.modulos.forEach(i => {
          vm.match(i)
        })
      })
    },
    getModulosUsuario() {
      if (this.tipoUsuario > 0) {
        this.modulosUsuario = []
        let vm = this
        let body = {
          tipoUsuario: this.tipoUsuario,
          op: 2
        }
        axios
          .post("/SessionWeb/ObtenModulosUsuario", body, this.header)
          .then(res => {
           this.modulosUsuario = res.data.ObtenModulosUsuarioResult
            vm.getModulos()
          })
        }
      },
    match(item) {
      let result = this.modulosUsuario.filter(i => i.Id === item.Id)
      if (result.length > 0) {
        console.log(result)
        item.Add = result[0].Add ? result[0].Add : false
        item.Edit = result[0].Edit ? result[0].Edit : false
        item.Delete = result[0].Delete ? result[0].Delete : false
        item.Access = result[0].Access ? result[0].Access : false
      }
    },
    guardar() {
      console.log("Guardado", this.modulos)
      let body = {
          modulos: this.modulos,
          tipoUsuario: this.tipoUsuario
      }
      axios.post("/SessionWeb/GuardaPermisos", body, this.header).then(res => {
        console.log(res)
        this.$vs.notification({
            progress: 'auto',
            color: 'success',
            position: 'top-right',
            title: '¡Correcto!',
            text: `Permisos Configurados Correctamente`
          })
        // this.$snotify.success('Permisos Configurados Correctamente', '¡Correcto!')
        })
      },
    getTiposUsuario() {
      let vm = this
      axios.get("/SessionWeb/GetTiposUsuario", this.header).then(res => {
        console.log(res)
        vm.ListatipoUsuarios = res.data.GetTiposUsuarioResult.filter((i) => i.Activo === true)
      })
    }
  }
}
</script>
