<template>

<div class="col-xs-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"></h3> 
      <div class="box-body">

        <section class="content">

<!-- <h2>Simple</h2> -->

  

    <!-- /.box-header -->
   
      <div class="center">
      <vs-table >

                      <template #thead>
                <th v-for="(head, x) in headers" :key="x" >{{head}} </th>
                <th v-show="(actions.editar)?true:false">Editar</th>
                <th v-show="(actions.eliminar)?true:false">Eliminar</th>
                <th v-show="(actions.activar)?true:false">Activar</th>
                <th v-show="(actions.desactivar)?true:false">Desactivar</th>
                <th v-show="(actions.detalle)?true:false">Detalle</th>
                <th v-show="(actions.descargar)?true:false">Descargar</th>
                <th v-show="(actions.recibir)?true:false">Recibir</th>
                <th v-show="(actions.cancelar)?true:false">Cancelar</th>
                <th v-show="(actions.imprimir)?true:false">Imprimir</th>
                <th v-show="(actions.selectProyecto)?true:false">Asignar proyecto</th>    
                <th v-show="(actions.selected)?true:false">Seleccionar</th>
                <th v-show="actions.buscaVendedor">Asignar vendedor</th> 
                <th v-show="actions.selectVendedor">Asignar vendedor</th>

                <th v-show="actions.pdf">PDF</th>
                <th v-show="actions.word">Word</th>             
                <th v-show="actions.confCW">Configurar</th> 
                <th v-show="(actions.enviarcorreo)?true:false">Enviar Correo</th>        
                <th v-show="(actions.enviarsms)?true:false">Enviar SMS</th>              

              </template>
          <template #tbody>

          <vs-tr v-for="(tr, i) in $vs.getPage(data, page, max)"  :data="tr" :is-selected="selected == tr"  :key="i" @click="selectedRow(tr)" >
          <vs-td  v-for="(prop, index) in tr" :key="index"><span v-if="index !='ischeck'">{{prop}}</span></vs-td>
          <vs-td v-show="(actions.editar )? true:false"><button type="button" @click="editar(tr)" class="btn btn-warning btn-md btn-circle"><i class="fa fa-edit"></i></button></vs-td>
          <vs-td v-show="(actions.eliminar )?true:false"><button type="button" @click="eliminar(tr)" class="btn btn-danger btn-md btn-circle"><i class="fa fa-trash"></i></button></vs-td>
          <vs-td v-show="(actions.detalle)?true:false"><button type="button" @click="detalle(tr)" class="btn btn-light btn-md btn-circle"><i class="fa fa-eye"></i> Detalle</button></vs-td>
          <vs-td v-show="(actions.descargar)?true:false"><button type="button" @click="descargar(tr)" class="btn btn-secondary btn-md btn-circle"> <i class="fas fa-download"></i> </button></vs-td>
          <vs-td v-show="(actions.recibir)?true:false"><button type="button" @click="recibir(tr)" class="btn btn-success btn-md btn-circle"> <i class="fas fa-box"></i> Recibir </button></vs-td>
          <vs-td v-show="(actions.cancelar)?true:false"><button type="button" @click="cancelar(tr)" class="btn btn-danger btn-md btn-circle"><i class="fas fa-ban"></i> Cancelar</button></vs-td>
          <vs-td v-show="(actions.imprimir)?true:false"><button type="button" @click="imprimir(tr)" class="btn btn-white btn-md btn-circle"><i class="fas fa-print"></i> Imprimir</button></vs-td>
          <vs-td v-show="(actions.selectProyecto)?true:false"><button type="button" @click="selectProyecto(tr)" class="btn btn-success btn-md btn-circle"><i class="fas fa-hand-pointer"></i> Asignar</button></vs-td>
          <vs-td v-show="actions.selected"><button type="button" @click="selected(tr)" class="btn btn-success btn-md btn-circle"><i class="fas fa-check"></i> Seleccionar</button></vs-td>          
            
          <vs-td v-show="actions.buscaVendedor"><button type="button" @click="buscaVendedor(tr)" class="btn btn-success btn-md btn-circle"><i class="fas fa-hand-pointer"></i> Asignar</button></vs-td>
          <vs-td v-show="actions.selectVendedor"><button type="button" @click="selectVendedor(tr)" class="btn btn-success btn-md btn-circle"><i class="fas fa-hand-pointer"></i> Asignar</button></vs-td>

          
          <vs-td v-show="actions.pdf"><button type="button" @click="PDF(tr)" class="btn btn-danger btn-md btn-circle"><i class="fas fa-file-pdf"></i> PDF</button></vs-td>
          <vs-td v-show="actions.word"><button type="button" @click="Word(tr)" class="btn btn-primary btn-md btn-circle"><i class="fas fa-file-word"></i> Word</button></vs-td>   
          <vs-td v-show="actions.confCW"><button type="button" @click="confCW(tr)" class="btn btn-primary btn-md btn-circle"><i class="fas fa-cog"></i> Configurar clientes</button></vs-td>   

          <vs-td v-show="(actions.enviarcorreo )? true:false"><button type="button" @click="enviarcorreo(tr)" class="btn btn-success btn-md btn-circle"><i class="fa fa-paper-plane"></i> Enviar Coreo</button></vs-td>
          <vs-td v-show="(actions.enviarsms )? true:false"><button type="button" @click="enviarsms(tr)" class="btn btn-success btn-md btn-circle"><i class="fa fa-comment"></i> Enviar SMS</button></vs-td>

          <vs-td v-if="tr.activo === 'Activo'" v-show="(actions.activar)?true:false"><button type="button" @click="desactivar(tr)" class="btn btn-danger btn-md"><i class="fa fa-check"></i> Desactivar</button></vs-td>
          <vs-td v-if="tr.activo === 'Inactivo' " v-show="(actions.activar)?true:false"><button type="button" @click="activar(tr)" class="btn btn-success btn-md"><i class="fa fa-check"></i> Activar</button></vs-td>

        </vs-tr>
        </template>
        <template #footer>
            <vs-pagination v-model="page" :length="$vs.getLength(data, max)" />
          </template>
      </vs-table>

 
    </div>

    <!-- /.box-body -->



</section>




          </div>
        </div> 
      </div>
    </div>



</template>
<script>
import { EventBus } from '../event-bus'
const paginate = require('paginate-array')
export default {
  name: 'tablecomponent',
  template: '#table-component',
  props: ['tabledata', 'headers', 'actions', 'searchLabel', 'filterOptions'],
  data: function() {
    return {
      selected: null,
      page: 1,
      max: 5,
      totalPages: 0,
      total: 0,
      currentPage: 0,
      data: [],
      searchString: ''
    }
  },
  watch: {
    tabledata: function(value) {
      this.obtenDatos(value)
    }
  },
  mounted() {},
  computed: {
    tableClass() {
      return `table-${this.type}`
    }
  },
  methods: {
    filterdata() {
      let vm = this
      vm.data = this.datosTabla.filter(
      (tr) => tr[vm.filterOptions].toLowerCase()
      .includes(this.searchString.toLowerCase())
      )
    },
    obtenDatos(value) {
      this.datosTabla = value
      this.paginate(1)
    },
    paginate: function(PageNumber) {
      const paginateCollection = paginate(this.datosTabla, PageNumber, 10)
      this.totalPages = paginateCollection.totalPages
      this.total = paginateCollection.total
      this.currentPage = paginateCollection.currentPage
      this.data = paginateCollection.data
      // console.log(this.data)
    },
    next() { if (this.totalPages > 1) { this.paginate(this.currentPage + 1) } },
    previous() { if (this.totalPages > 1) { this.paginate(this.currentPage - 1) } },
    editar(tr) { EventBus.$emit('editar', tr) },
    enviarsms(tr) { EventBus.$emit('enviarsms', tr) },
    enviarcorreo(tr) { EventBus.$emit('enviarcorreo', tr) },
    eliminar(tr) { EventBus.$emit('eliminar', tr) },
    detalle(tr) { EventBus.$emit('detalle', tr) },
    activar(tr) { EventBus.$emit('activar', tr) },
    desactivar(tr) { EventBus.$emit('desactivar', tr) },
    descargar(tr) { EventBus.$emit('descargar', tr) },
    recibir(tr) { EventBus.$emit('recibir', tr) },
    cancelar(tr) { EventBus.$emit('cancelar', tr) },
    imprimir(tr) { EventBus.$emit('imprimir', tr) },
    selectProyecto(tr) { EventBus.$emit('selectProyecto', tr) },
    selectedRow(tr) { EventBus.$emit('selectrow', tr) },
    selected(tr) { EventBus.$emit('selected', tr) },
    PDF(tr) { EventBus.$emit('PDF', tr) },
    Word(tr) { EventBus.$emit('Word', tr) },
    selectVendedor(tr) { EventBus.$emit('selectVendedor', tr) },
    buscaVendedor(tr) { EventBus.$emit('buscaVendedor', tr) },
    confCW(tr) { EventBus.$emit('confCW', tr) }
  }
}
</script>
<style type="text/css">
h1 {
  color: green;
}
.xyz {
  background-size: auto;
  text-align: center;
  padding-top: 100px;
}
.btn-circle.btn-md {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}
</style>

<style>
#app {
  text-align: left;
}
.table td,
.table th {
  padding: 1rem;
  font-size: 12px;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}
</style>
